<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/editor.css' />
  <link rel='stylesheet' href='/stylesheets/viewer.css' />
  <!-- Photosphere viewer dependencies -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/photo-sphere-viewer.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/plugins/markers.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/three/build/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uevent@2/browser.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4.2.1/dist/photo-sphere-viewer.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/plugins/markers.min.js"></script>
</head>

<body>
  <div id="portal-controls">
    <div class="controller-subcontainer top-align left-align">
      <input class="create-marker-text" id="create-marker-text-id-link" type="text" placeholder="Enter Link Portal ID">
      <button id="add-marker-button" class="create-marker-button">Create Marker</button>
      <button id="final-marker-button" class="create-marker-button">Finalize Portal</button>
      <button id="return-marker-button" class="create-marker-button">Return to Portal</button>
    </div>
    <div class="controller-subcontainer top-align right-align">
      <div id="mode-text-div">
        <h1>Mode: Roaming</h1>
      </div>
      <div id="mode-text-div">
        <h1>Map: Don't know lol</h1>
      </div>
      <button class="create-marker-button" id="gallery-button">Portal Gallery</button>
    </div>
  </div>
  <div class="gallery invisible">
    <% for (var i = 0; i < 3;  i++ ) { %>
    <div class="flex-grid">
      <% for (var j = 0; j < 6;  j++ ) { %>
      <div class="col">
        <img class="gallery-thumbnail" src=""></img>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>

  <div id="viewer"></div>
  <script id="editor-script" type="module" src="/viewsjs/editor.mjs" data-panorama="<%= panorama %>" data-mapUUID="<%= mapUUID %>"></script>

</body>

</html>
