<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <link rel='stylesheet' href='/stylesheets/viewer.css' />
  <%- include('includes/favicons.ejs') %>
  <%- include('includes/psviewer-dependencies.ejs',{markers: false}) %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-W2NZ584X26"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-W2NZ584X26');
  </script>

</head>

<body>
  <div id="viewer" class="viewer-blur"></div>
  <div id="container" class="ve-overlay-container">
    <img id="title-logo" class="ve-uninteractable" alt="OpenGuessr Logo" src="/images/site/logo.svg"/>
    <div id="selection-menu">
      <a class="col" href="/play">
        <div>
          <h3 class="title">Play</h3>
        </div>
      </a>
      <a class="col" href="/upload">
        <div>
          <h3 class="title">Upload</h3>
        </div>
      </a>
      <a class="col" href="/edit">
        <div>
          <h3 class="title">Edit</h3>
        </div>
      </a>
    </div>
  </div>
  <script id="index-script" type="module" src="/viewsjs/index.mjs"></script>
</body>

</html>
