<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1 id="map-selection-heading">Map Selection</h1>
  <div class="gallery visible">
    <% for (var i = 0; i < 3;  i++ ) { %>
    <div class="flex-grid">
      <% for (var j = 0; j < 6;  j++ ) { %>
      <div class="col">
        <img class="gallery-thumbnail" src=""></img>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <script type="module">
    import * as Gallery from "/jsmodules/gallery.js";
    let gallery = new Gallery.MapGallery();
    gallery.update();
  </script>
</body>

</html>
