<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/viewer.css'/>
        <%- include('includes/favicons.ejs') %>
        <%- include('includes/psviewer-dependencies.ejs',{markers: true}) %>
    </head>
    <body>
        <div id="viewer"></div>
        <script id="index-script" type="module" src="/viewsjs/play.mjs"></script>
    </body>
</html>