<!DOCTYPE html>
<html>
    <head>
        <title><%= title ;%></title>
        <link rel='stylesheet' href='/stylesheets/index.css'/>
        <link rel='stylesheet' href='/stylesheets/viewer.css'/>
        <!-- Photosphere viewer dependencies -->
        <link rel="stylesheet" href="/cslibs/photo-sphere-viewer.min.css" />
        <link rel="stylesheet" href="/cslibs/markers.min.css" />
        <script src="/jslibs/three.min.js"></script>
        <script src="/jslibs/browser.min.js"></script>
        <script src="/jslibs/photo-sphere-viewer.min.js"></script>
        <script src="/jslibs/markers.min.js"></script>
    </head>
    <body>
        <div id="viewer"></div>
    </body>
</html>