<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id='file-upload'>
    <form method='post' action='upload' enctype='multipart/form-data'>
      <div id="map-creation-section">
        <input type="text" name="new-map-name" id="new-map-name" placeholder="Map name">
      </div>
      <select id='map' name='map' placeholder='Select a Map'>
        <% for(let i=0; i<maps.length;i++) {%>
        <option value='<%= maps[i].name %>'><%= maps[i].name %></option>
        <% } %>
        <option value='new-map'>New Map</option>
      </select>
      <input type='file' name='file-uploaded' id='file-button'>
      <input type='submit' value='Upload'>

    </form>
  </div>

  <script>
    let displayMapCreation = document.getElementById('map-creation-section');
    setInterval(() => {
      console.log(document.getElementById("map").value);
      if (document.getElementById('map').value == 'new-map') {
        displayMapCreation.style.display = "block";
      } else {
        displayMapCreation.style.display = "none";
      }
    }, 100);
  </script>
</body>

</html>
