<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('includes/favicons.ejs') %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id='file-upload'>
    <form method='post' action='upload' enctype='multipart/form-data'>
      <div id="map-creation-section">
        <input type="text" name="new-map-name" id="new-map-name" placeholder="Map name">
      </div>
      <select id='map' name='map' placeholder='Select a Map' onchange="onMapChange()">
        <option id="new-map-option" value='new-map' selected>New Map</option>
        <% for(let i=0; i<maps.length;i++) {%>
        <option value='<%= maps[i].uuid %>'><%= maps[i].name %></option>
        <% } %>
      </select>
      <input type='file' name='file-uploaded' id='file-button'>
      <input type='submit' value='Upload'>
    </form>
  </div>
  <script src="/viewsjs/upload.js"></script>

</body>

</html>
