body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#file-upload{
  display:inline-block;
  width:100px;
}

#file-button{
  margin-bottom:5px;
}
#create-marker-button{
  background-color:blue;
  color:white;
  width: 11vw;
  height:5vh;
}
#create-marker-text{
  width:10vw;
  height:5vh;
}

#viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
